<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>帖子详细</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
</head>
<body>
<tbody>
{% for story in storys %}
    <div id="post_head" class="page-header">
        <h1 class="text-center">
            <p class="text-info">{{ story.story_title }}</p>
        </h1>
        <small class="author">
            <p class="text-center">作者：{{ story.story_author }}</p>
        </small>
        <small class="posttime">
            <p class="text-center">发布时间：{{ story.story_posttime }}</p>
        </small>
    </div>
    <pre> <!--保留空格换行等-->
        <div class="content" >
                <p class="text-success" >
            {{ story.story_content }}</p>
        </div>
    </pre>
    <nav style="text-align: center">
        <ul class="pagination">
            <li>
                <a href="/index/">首页</a>
            </li>
            {% if storys.has_previous %}
                <li>
                    <a href="?link={{ link }}&page_detail={{ storys.previous_page_number }}">上一页</a>
                </li>
            {% endif %}
            <li>
            <span class="current">
                Page {{ storys.number }} of {{ storys.paginator.num_pages }}
            </span>
            </li>
            {% if storys.has_next %}
                <li>
                    <a href="?link={{ link }}&page_detail={{ storys.next_page_number }}">下一页</a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endfor %}
</tbody>
</body>
</html>